{% extends "../layout/user_layout.jinja2" %}
{% block body %}
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Progress</a>
        </li>
        <li class="breadcrumb-item active">users</li>
      </ol>

<h2>Ckeck users progress</h2>
<div>{{prog}}</div>
<form action="{{request.route_url('progress_user',_query=params)}}" method=post accept-charset="utf-8" enctype=multipart/form-data><p>
<div style="display:inline-flex;width:100%;">
	<div class="form-group" style="width: 25%;margin-right:10%;">
		<label for="achievement_id">Select achievement: (required) </label>
		<select class="form-control" id="achivement_id" name="achievement_id" >
		    {% for achievement in achievements %}
		        <option value={{achievement["id"]}}>{{ achievement["name"] }}</option>>
		    {% endfor %}
		</select>
	</div>

	<div class="form-group" style="width: 25%;margin-right:10%;">
	    <label for="user_id">Select user id: (required) </label>
	    <select class="form-control" id="user_id" name="user_id" >
	    <option value=""></option>
	    {% for key in keys %}
	        <option>{{ key }}</option>
	    {% endfor %}
	    </select>
	</div>

	<div class="form-group" style="width: 25%;">
	    <label for="sort_by">Sort By: (required) </label>
	    <select class="form-control" id="sort_by" name="sort_by" >
          <option value="region">Region</option>
          <option value="city">City</option>
	    </select>
	</div>
</div>
<span><b>Find User</b></span>
<div class="form-group">
	<label id="label_user_id" for="user_id_value">USER ID</label>
	<input class="form-control" type="text" id="user_id_value" name="user_id_value" style="width:25%">
</div>

<div>
    <input type=submit class="btn btn-primary" value="Get Progress">
</div>

</form>
<br>
<div class="row" style="width:100%;display:inline-flex;">

  <div class="row" style="margin-left:1%;margin-right: 10%;">
	{% if user %}
		<div class="row" style="margin-left:1%;">
			<span><b style="color:red;">User Results</b></span>
		    {% for item in header_user %}
		    	<span>{{item}} : <b style="color:blue;">{{user.user['additional_public_data'][item]}}</b><span><br>
	        {% endfor %}
			<span>Value : <b style="color:blue;">{{user['value']}}</b><span><br>
			<span>Position : <b style="color:blue;">{{user['position']+1}}</b><span>
		</div>
	{% endif %}
  </div>

  <div>
	<div class="row">
		{% if current_level %}
			<p><b>Current level:</b> {{current_level}}</p>
		{% endif %}
	</div> 
	<div class="row">
		{% if badges %}
			<p><b>Badges</b></p>
		{% endif %}
		{% for item in badges %}
		<div>
			<div>
				<img src="{{ request.static_path('gengine.app:static/img/'+item) }}" >
			</div>
		</div>
		{% endfor %}
	</div>
	<hr>
	<div class="row">
		{% if rewards %}
		    <p><b>Rewards</b></p>
		{% endif %}
		{% for item in rewards %}
		<div>
			<div style="text-align: center;"">
				<img src="{{ request.static_path('gengine.app:static/img/reward.PNG') }}" >
				<p style="margin-left:10px;"><b>{{item}}</b></p>
			</div>
		</div>
		{% endfor %}
	</div>

  </div>

</div>
<br>
{% endblock %}
{% block scripts %}
<script>

$( document ).ready(function() {
	$("#user_id").on('change', function() {
  		$("#label_user_id").html("USER ID <b style='color:#007bff;'>"+this.value+"</b>");
	})
});
</script>

{% endblock %}